@model IEnumerable<TimeSheet.Models.TimeRecord>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LunchBreak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flexi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LunchBreak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flexi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveTime)
        </td>
    </tr>
}

</table>
