@model List<TimeRecordForm>

@{
    Layout = null;
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Employee</th>
            <th>Year</th>
            <th>Period</th>
            <th>Total Working Hours</th>
            <th>Status</th>
            <th>Approval</th>
        </tr>
    </thead>
    <tbody style="cursor:pointer">
        @for (int i = 0; i < 5 && i < Model.Count; i++)
        {
            <tr class="table-row" onclick="location.href='@Url.Action("ApprovalDetail", "TimesheetApproval", new { id = Model[i].TimeRecordFormId })'">
                <td>@Html.DisplayFor(m => m[i].TimeRecordFormId)</td>
                <td>@Html.DisplayFor(m => m[i].UserName)</td>
                <td>@Html.DisplayFor(m => m[i].Year)</td>
                <td>@Html.DisplayFor(m => m[i].Period)</td>
                <td>@Html.DisplayFor(m => m[i].TotalWorkingHours)</td>
                <td id="status-@Model[i].TimeRecordFormId" class=@getStatusClass(Model[i].status)>@Model[i].status.GetDisplayName()</td>
                <td class="action">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <button class="btn btn-success" value="@Model[i].TimeRecordFormId">Approve</button>
                        <button class="btn btn-danger" value="@Model[i].TimeRecordFormId">Reject</button>
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="7">
            <td>
                @if (Model.Count > 5)
                {
                    @Html.ActionLink("More...", "TimeSheetList", new { type = "Waiting" })
                }
            </td>
        </tr>
    </tbody>
</table>

@functions {
    string getStatusClass(_status status)
    {
        string className;
        switch (status)
        {
            case _status.submited:
                className = "text-primary";
                break;
            case _status.modified:
                className = "text-warning";
                break;
            default:
                className = "";
                break;
        }
        return className;
    }
}
