@model TimeSheet.Models.TimeRecordForm

@{
    ViewBag.Title = "Timesheet Detail";
    if (Model.Comments == null)
    {
        ViewBag.Comments = "Add";
    }
    else
    {
        ViewBag.Comments = "View";
    }
}


<br />
<div class="container">
    <div>
        <h3>@ViewBag.Title</h3>
        <table class="table" >
            <tbody>
                <tr>
                    <td>@Html.Label("Name:")</td>
                    <td>@ViewBag.UserName</td>
                    <td>@Html.Label("Approved By:")</td>
                    <td>@ViewBag.ManagerName</td>
                </tr>

                <tr>
                    <td>@Html.Label("Empl ID:")</td>
                    <td>@Html.DisplayFor(m=>m.UserID)</td>
                    <td>@Html.Label("Empl ID:")</td>
                    <td>@Html.DisplayFor(m=>m.ManagerID)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(m=>m.SubmitTime)</td>
                    <td>@Html.DisplayFor(m=>m.SubmitTime)</td>
                    <td>@Html.DisplayNameFor(m=>m.SumbitStatus)</td>
                    <td>@Html.DisplayFor(m=>m.SumbitStatus)</td>
                </tr>

                <tr>
                    <td>@Html.Label("Period Begin:")</td>
                    <td>@ViewBag.PeriodBegin</td>
                    <td>@Html.Label("Period End:")</td>
                    <td>@ViewBag.PeriodEnd</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Period/Year</td>
                    <td>Total Working Hours</td>
                    <td>Requested Working Hours</td>
                    <td>Total Leave Hours</td>
                    <td>Comments</td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(m => m.TimeRecordFormID)</td>
                    <td>@ViewBag.PeriodYear</td>
                    <td>@Html.DisplayFor(m => m.TotalWorkingHours)</td>
                    <td>@ViewBag.RequestedHours</td>
                    <td></td>
                    <td><a href="javascript:CommentEditor()">@ViewBag.Comments</a></td>
                </tr>
                <tr>
                    <td><button id="approveBtn" value="@Model.TimeRecordFormID">Approved</button></td>
                    <td><button id="rejectBtn" value="@Model.TimeRecordFormID">Rejected</button></td>
                </tr>
            </tbody>
        </table>
        @Html.ActionLink("Return to Timesheet Approval","Approval")
        <button id="timesheetDetail">View Timesheet Details</button>
    </div>
    <br />
</div>
<div id="timesheetDiv"></div>
<hr />

<div id="myModal" class="modal small fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Done!</h3>
            </div>
            <div class="modal-body">
                <p class="error-text">Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        function CommentEditor() {
            
        }

        $("#approveBtn").on("click", function () {
            var approveID = $("#approveBtn").val;
            var approveDec = $("#approveBtn").text;
            location.href = '@Url.Action("ApprovalDetail","TimesheetApproval")?id=' + approveID + '&decision=' + approveDec;
        });

        $("#rejectBtn").on("click", function () {
            var rejectID = $("#rejecBtn").val;
            var rejectDec = $("#rejecBtn").text;
            location.href = '@Url.Action("ApprovalDetail","TimesheetApproval")?id=' + rejectID + '&decision=' + rejectDec;
        });
    });
</script>

        @functions {
            string getStatusClass(TimeSheet.Models._status status)
            {
                string className;
                switch (status)
                {
                    case TimeSheet.Models._status.submited:
                        className = "text-primary";
                        break;
                    case TimeSheet.Models._status.approved:
                        className = "text-success";
                        break;
                    case TimeSheet.Models._status.rejected:
                        className = "text-danger";
                        break;
                    case TimeSheet.Models._status.modified:
                        className = "text-warning";
                        break;
                    default:
                        className = "";
                        break;
                }
                return className;
            }
        }

