@model TimeSheetContainer

@{
    ViewBag.Title = "Casual Hours Application Detail";
}

<head>
    @Styles.Render("~/Content/css")
</head>

<br />
<div class="container" align="center">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 col-xs-12 approval-detail">
            <h3>General Information</h3>
            <hr />
            <table class="table-responsive">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.TimeRecordForm.UserName)</th>
                    <td>@Html.DisplayFor(m => m.TimeRecordForm.UserName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.TimeRecordForm.Year)</th>
                    <td>@Html.DisplayFor(m => m.TimeRecordForm.Year)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.TimeRecordForm.Period)</th>
                    <td>@ViewBag.Period</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.TimeRecordForm.TotalWorkingHours)</th>
                    <td>@Html.DisplayFor(m => m.TimeRecordForm.TotalWorkingHours)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.TimeRecordForm.Comments)</th>
                    <td>@if (Model.TimeRecordForm.Comments != string.Empty)
                        {
                            @Html.DisplayFor(m => m.TimeRecordForm.Comments)
                        }else
                        {
                            @:-
                        }
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: top">Manager</th>
                    <td>
                        @foreach (var manager in ViewBag.Managers)
                        {
                            <p>@manager</p>
                        }
                    </td>

                </tr>
            </table>

            <hr>
            <div class="row" align="right">
                <div class="col-sm-offset-1 col-sm-10">
                    <a href="#approve-detail" data-toggle="collapse">
                        <p>
                            Click here to see details
                            <span class="glyphicon glyphicon-pencil"></span>
                        </p>
                    </a>
                </div>
            </div>
            <div align="center" class="approve-detail">
                <div id="approve-detail" class="collapse row">
                    <table class="table table-responsive">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <tr>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Lunch Break</th>
                            <th>Work Hours</th>
                        </tr>
                        @foreach (var item in Model.TimeRecords)
                        {
                            <tr>
                                <td>@String.Format("{0:ddd, dd/MM/yyyy}", item.RecordDate)</td>
                                <td>@Html.DisplayFor(m => item.StartTime)</td>
                                <td>@Html.DisplayFor(m => item.EndTime)</td>
                                <td>@Html.DisplayFor(m => item.LunchBreak)</td>
                                <td>@Html.DisplayFor(m => item.WorkHours)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <hr>
            @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && Model.TimeRecordForm._managerIDs.Contains(User.Identity.Name)))
            {
                using (Html.BeginForm("ApprovalDetail", "TimeSheetApproval", FormMethod.Post))
                {
                    <row class="approve-button">
                        <input type="hidden" name="id" value=@Model.TimeRecordForm.TimeRecordFormId />
                        <input type="submit" class="btn btn-success" name="decision" value="Approve">
                        <input type="submit" class="btn btn-danger" name="decision" value="Reject">
                    </row>
                    <div class="col-sm-3"></div>
                }
            }
            else
            {
                <p>You are not authorized to approve this application.</p>
            }
        </div>
    </div>
</div>
