@model TimeRecordForm

@{
    ViewBag.Title = "Timesheet Output";
}
<head>
    @Styles.Render("~/Content/printPortrait")
</head>
<br />
<div class="container" align="center">
    <div class="row">
        <div class="col-sm-3"></div>
        <div id="detailForm" class="col-lg-7 col-sm-10 col-xs-12 approval-detail print-form">
            <h3>Leave Application</h3>
            <table class="table-bordered">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.UserName)</th>
                    <td>@Html.DisplayFor(m => m.UserName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.UserID)</th>
                    <td>@Html.DisplayFor(m => m.UserID)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Year)</th>
                    <td>@Html.DisplayFor(m => m.Year)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Period)</th>
                    <td>@ViewBag.Period</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.TotalWorkingHours)</th>
                    <td>@Html.DisplayFor(m => m.TotalWorkingHours)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.status)</th>
                    <td>@Model.status.GetDisplayName()</td>
                </tr>
                <tr>
                    <th style="vertical-align: top">Manager</th>
                    <td>@ViewBag.ManagerName</td>
                </tr>
                <tr>
                    <th>Signed&nbsp;At</th>
                    <td>@Html.DisplayFor(m => m.ApprovedTime)</td>
                </tr>
            </table>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div>
        <br />
        <row>
            <button id="downloadPdf" class="btn btn-primary do-not-print" onclick="javascript:window.print();">
                <span class="glyphicon glyphicon-print"></span> Print Pdf
            </button>
        </row>
    </div>
</div>
