@model TimeSheet.Models.LeaveApplicationViewModel

<head>
    @Styles.Render("~/Content/css")
</head>

<br />

<body>
    <div align="center" class="leaveDetail">
        <div id="CasualDetail" class="collapse row">
            <table class="table table-responsive">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>
                    <th>Date</th>
                    <th>Work Hours</th>
                </tr>
                @for (int i = 0; i < Model.TimeRecords.Count; i++)
                {
                    <tr>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.TimeRecords[i].id)
                        @Html.HiddenFor(m => m.TimeRecords[i].UserID)
                        @Html.HiddenFor(m => m.TimeRecords[i].RecordDate)
                        @Html.HiddenFor(m => m.TimeRecords[i].StartTime)
                        @Html.HiddenFor(m => m.TimeRecords[i].EndTime)
                        @Html.HiddenFor(m => m.TimeRecords[i].LunchBreak)
                        @Html.HiddenFor(m => m.TimeRecords[i].IsHoliday)
                        @Html.HiddenFor(m => m.TimeRecords[i].Flexi)
                        <td>
                            @String.Format("{0:ddd, dd/MM/yyyy}", Model.TimeRecords[i].RecordDate)
                        </td>
                        <td class="leaveTimeColumn">
                            @Html.EditorFor(m => m.TimeRecords[i].WorkHours, new { htmlAttributes = new { @class = "worktime form-control", @type="number", @step="0.5", @min = 0, @max = 7.5 } })
                            @Html.ValidationMessageFor(m => m.TimeRecords[i].WorkHours, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                }
            </table>
            
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




