@model TimeSheet.Models.LeaveApplicationViewModel

@{
    ViewBag.Title = "Create";
}
<head>
    @Styles.Render("~/Content/css")
</head>

<table>
    <tr>
        <th>Date</th>
        <th>Leave Time</th>
        <th>Leave Type</th>
    </tr>

    @for (int i=0; i<Model.Records.Count; i++)
    {
        <tr class="@(Model.Records[i].IsHoliday ? "th-holiday" : "th-weekday")">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Records[i].id)
            @Html.HiddenFor(m => m.Records[i].UserID)
            @Html.HiddenFor(m => m.Records[i].StartTime)
            @Html.HiddenFor(m => m.Records[i].EndTime)
            @Html.HiddenFor(m => m.Records[i].LunchBreak)
            @Html.HiddenFor(m => m.Records[i].IsHoliday)
            @Html.HiddenFor(m => m.Records[i].Flexi)

            <th class="form-group">
                @String.Format("{0:ddd, dd/MM/yyyy}", Model.Records[i].StartTime)
            </th>

            <th class="form-group">
                @Html.EditorFor(m => m.Records[i].LeaveTime, new { htmlAttributes = getHtmlAttributes(Model.Records[i].IsHoliday) })
                @Html.ValidationMessageFor(m => m.Records[i].LeaveTime, "", new { @class = "text-danger" })
            </th>

            <th class="form-group">

                @Html.EnumDropDownListFor(m => m.Records[i].LeaveType, htmlAttributes: getHtmlAttributes(Model.Records[i].IsHoliday))
                @Html.ValidationMessageFor(m => m.Records[i].LeaveType, "", new { @class = "text-danger" })
            </th>
        </tr>
    }

</table>

@functions {
    object getHtmlAttributes(bool isHoliday)
    {
        if (isHoliday)
        {
            return new { @class = "form-control", @disabled = "disabled" };
        }
        return new { @class = "form-control" };
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


