@model TimeSheet.Models.LeaveApplicationViewModel

@{
    ViewBag.Title = "Leave Application";
    string[] LeaveNames = {"Sick Leaves", "Flexi Leaves", "Annual Leaves" };
}

<head>
    @Styles.Render("~/Content/css")
</head>


<body class="center-block">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    <br />

    <div align="center">
        <table class="table-fill table-responsive">
            <thead>
                <tr>
                    @for (int i = 0; i < 3; i++)
                    {
                    <th>@LeaveNames[i]</th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tr>
                @for (int i = 0; i < 3; i++)
                {
                <td class="lefthours">@Html.DisplayFor(m => m.LeaveRecords[i].AvailableLeaveHours)</td>
                }
                <td>Hours</td>
            </tr>
        </table>
    </div>

    <hr />

    <div class="container" align="center">
        <div class="applicationTable">
            <h3>Leave Application</h3>

            <div class="form-inline form-group">
                <table class="table table-condensed table-fill nomoretable">
                    @Html.HiddenFor(model => model.LeaveApplication.UserID)
                    <thead>
                        <tr>
                            <th>
                                @Html.LabelFor(model => model.LeaveApplication.StartTime, htmlAttributes: new { @class = "control-label" })
                            </th>
                            <th>
                                @Html.LabelFor(model => model.LeaveApplication.EndTime, htmlAttributes: new { @class = "control-label" })
                            </th>
                            <th>
                                @Html.LabelFor(model => model.LeaveApplication.leaveType, htmlAttributes: new { @class = "control-label" })
                            </th>
                            <th>
                                @Html.Label("Manager", htmlAttributes: new { @class = "control-label" })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.LeaveApplication.StartTime, new { htmlAttributes = new { @class = "form-control", @id = "start" } })
                                @Html.ValidationMessageFor(model => model.LeaveApplication.StartTime, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.LeaveApplication.EndTime, new { htmlAttributes = new { @class = "form-control", @id = "end" } })
                            </td>
                            <td>
                                @Html.EnumDropDownListFor(model => model.LeaveApplication.leaveType, htmlAttributes: new { @class = "form-control", @id = "leaveType" })
                                @Html.ValidationMessageFor(model => model.LeaveApplication.leaveType, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.DropDownList("manager", (IEnumerable<SelectListItem>)ViewBag.Manager, htmlAttributes: new { @class = "form-control" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />

            <input type="submit" value="Submit" id="submit-btn" class="btn btn-primary" disabled="disabled" />
        </div>

        <div id="leave-form"></div>
    </div>
    <br />
    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function renderLeaveForm() {
        var start = $('#start').val();
        var end = $('#end').val();
        var leaveType = $('#leaveType').val();

        $("#leave-form").text("Loading...");

        //Enable validation
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");

        $.ajax({
            url: "/LeaveApplication/CreateLeaveForm",
            type: "GET",
            data: { start: start, end: end, leaveType: leaveType }
        })
            .done(function (partialViewResult) {
                $("#leave-form").html(partialViewResult);
                $("#submit-btn").prop("disabled", false);
            });
    }

    function getFormattedDate(date) {
        var year = date.getFullYear();
        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        return year + '-' + month + '-' + day;
    }

    $(document).ready(function () {
        var fullDate = new Date();

        $("#start").val(getFormattedDate(new Date()));
        $("#end").val(getFormattedDate(new Date()));
        $(".btn-default").on("click", function (e) {
            e.preventDefault();
            $(this).toggleClass("active");
        })
        $("#start").on("change", function () {
            if ($("#start").val() > $("#end").val())
                $("#end").val($("#start").val());
            renderLeaveForm();
        });
        $("#end").on("change", function () {
            if ($("#start").val() > $("#end").val())
                $("#start").val($("#end").val());
            renderLeaveForm();
        });
        $("#leaveType").on("change", function () {
            renderLeaveForm();
        });
        $("form").submit(function (e) {
            var leavetimes = $(".leavetime");
            var leavetypes = $(".leavetype");

            var lefthours = $(".lefthours");

            var length = leavetimes.length;
            var msg = "";
            for (var i = 0; i < length; i++) {
                if ($(leavetypes[i]).val() == 0) {
                    $("#alert").attr('class', "alert alert-danger");
                    $("#alert").html("<strong>Warning!</strong> Please specify the type of all leaves.");
                    e.preventDefault(e);
                    return false;
                }
                lefthours[$(leavetypes[i]).val() - 1] -= $(leavetimes[i]).val();
            }
            for (var i = 0; i < 3; i++) {
                if (lefttimes[i] < 0) {
                    switch (i) {
                        case 0:
                            msg += "Sick ";
                            break;
                        case 1:
                            msg += "Flexi ";
                            break;
                        case 2:
                            msg += "Annual ";
                            break;
                        default:
                            msg = "Something went wrong";
                    }
                }
            }
            if (msg != "") {
                $("#alert").attr('class', "alert alert-danger");
                $("#alert").html("<strong>Warning!</strong> " +
                                 "Your leaves application excesses in leave types: " + msg +
                                 "<br/>Please change them up and try submitting again");
                e.preventDefault(e);
                return false;
            } else {
                $("#alert").attr('class', "alert alert-success");
                $("#alert").text("Successfully submitted" + msg);
            }
        });
    });
</script>
