@model List<LeaveApplication>

@{
    Layout = null;
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Hours</th>
            <th>Status</th>
            <th>Approval</th>
        </tr>
    </thead>
    <tbody style="cursor:pointer">
        @for (int i = 0; i < 5 && i < Model.Count; i++)
        {
            <tr class="table-row" onclick="location.href='@Url.Action("ApprovalDetail", "LeaveApproval", new { id = Model[i].id })'">
                <td>@Html.DisplayFor(m => m[i].id)</td>
                <td>@Html.DisplayFor(m => m[i].UserName)</td>
                <td>@Html.DisplayFor(m => m[i].leaveType)</td>
                <td>@Html.DisplayFor(m => m[i].StartTime)</td>
                <td>@Html.DisplayFor(m => m[i].EndTime)</td>
                <td>@Html.DisplayFor(m => m[i].TotalLeaveTime)</td>
                <td id="status-@Model[i].id" class=@getStatusClass(Model[i].status)>@Html.DisplayFor(m => m[i].status)</td>
                <td class="action">
                    @if (User.IsInRole("Admin") || User.Identity.Name == Model[i].ManagerID)
                    {
                        <button class="btn btn-success" value="@Model[i].id">Approved</button>
                        <button class="btn btn-danger" value="@Model[i].id">Rejected</button>
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="7">
            <td>
                @if (Model.Count > 5)
                {
                    @Html.ActionLink("More...", "ApplicationList", new { type = "Waiting" })
                }
            </td>
        </tr>
    </tbody>
</table>
<div class="alert-danger" id="error"></div>

@functions {
    string getStatusClass(_status status)
    {
        string className;
        switch (status)
        {
            case _status.submited:
                className = "text-primary";
                break;
            case _status.modified:
                className = "text-warning";
                break;
            default:
                className = "";
                break;
        }
        return className;
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").on("click", function (e) {
            e.stopPropagation();
            var id = $(this).val();
            var decision = $(this).text();
            var container = $(this).closest("div");
            $(this).closest("tr").fadeOut(500, function () {
                $.ajax({
                    url: "/LeaveApproval/ApprovalPartial/",
                    type: "POST",
                    data: { id: id, decision: decision, type: "Waiting" }
                })
                    .done(function (result) {
                        container.html(result);
                        $.ajax({
                            url: "/LeaveApproval/ApprovalPartial/",
                            type: "GET",
                            data: { type: "Confirmed" }
                        })
                            .done(function (result) {
                                $("#confirmed-apps").html(result);
                            })
                            .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                                $("#error").html(xmlHttpRequest.responseText);
                            });
                    })
                    .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                        $("#error").html(xmlHttpRequest.responseText);
                    });

            });
        });
    });
</script>