@model TimeSheet.Models.ApprovalViewModel

@{
    ViewBag.Title = "Leave Application Detail";
}


<br />
<div class="container">
    <div>
        <h3>General Information</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.id)</th>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.UserID)</th>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.leaveType)</th>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.StartTime)</th>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.EndTime)</th>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.TotalTime)</th>
                    <th>@Html.DisplayNameFor(m => m.UserApplicationVM.LeaveApplication.status)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="app-id">@Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.id)</td>
                    <td>@Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.UserID)</td>
                    <td>@Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.leaveType)</td>
                    <td>@Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.StartTime)</td>
                    <td>@Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.EndTime)</td>
                    <td>@Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.TotalTime)</td>
                    <td id ="app-status" class= @getStatusClass(Model.UserApplicationVM.LeaveApplication.status)>
                        @Html.DisplayFor(m => m.UserApplicationVM.LeaveApplication.status)
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="alert"></div>
    </div>
    <br />
    <div>
        <h3>Applied Leaves</h3>
        <table class="table">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <th>Date</th>
                <th>Leave Type</th>
                <th>Apply Leave Time</th>
            </tr>
            @foreach (var item in Model.UserApplicationVM.TimeRecords)
            {
                <tr>
                    <td class="form-group">
                        @String.Format("{0:ddd, dd/MM/yyyy}", item.RecordDate)
                    </td>
                    <td class="form-group">
                        @Html.DisplayFor(m => item.LeaveType, new { htmlAttributes = new { @class = "leavetype" } })
                    </td>
                    <td class="form-group">
                        @Html.DisplayFor(m => item.LeaveTime, new { htmlAttributes = new { @class = "leavetime" } })
                    </td>
                </tr>
            }
        </table>
        <div>
            @using (Html.BeginForm("ApprovalDetail", "LeaveApproval", FormMethod.Post))
            {
                <row>
                    <button class="btn btn-default" onclick="location.href='@Url.Action( "Approval", "LeaveApproval")'">Go back</button>
                    <input type="hidden" name="id" value=@Model.UserApplicationVM.LeaveApplication.id />
                    <input type="submit" class="btn btn-danger" name="decision" value="Reject">
                    <input type="submit" class="btn btn-success" name="decision" value="Approve">
                </row>
            }
        </div>
    </div>
</div>
<hr />
<div class="container">
    <h3>Taken Leaves</h3>
    @if(Model.TakenLeaves.Count == 0)
    {
        <p>No leave is taken in the period.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>User Id</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leave in Model.TakenLeaves)
                {
                    <tr>
                        <td>@String.Format("{0:ddd, dd/MM/yyyy}", leave.RecordDate)</td>
                        <td>@Html.DisplayFor(m => leave.UserID)</td>
                        <td>@Html.DisplayFor(m => leave.StartTime)</td>
                        <td>@Html.DisplayFor(m => leave.EndTime)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@functions {
    string getStatusClass(TimeSheet.Models._status status)
    {
        string className;
        switch (status)
        {
            case TimeSheet.Models._status.submited:
                className = "text-primary";
                break;
            case TimeSheet.Models._status.approved:
                className = "text-success";
                break;
            case TimeSheet.Models._status.rejected:
                className = "text-danger";
                break;
            case TimeSheet.Models._status.modified:
                className = "text-warning";
                break;
            default:
                className = "";
                break;
        }
        return className;
    }
}

