<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div>

        <div class="container-fluid" style="background-color:#222">
            <div class="nav navbar-inverse">
                <div id="login" class="logIn">
                    @Html.Partial("_LoginPartial", String.Empty);
                    
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row box1 center-block">
                <div class="col-lg-4 col-md-4 col-sm-4 logo">
                    <img class="img-responsive" src="https://cdn2.hubspot.net/hub/2583754/hubfs/website/nan-tien-institute-logo.png" alt="Nan Tien Institute"/>
                </div>
                <div class="menuContainer col-lg-8 col-md-8 col-sm-8">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Accountant"))
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">HR Management<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Leave Approval", "Approval", "LeaveApproval")</li>
                                                <li>@Html.ActionLink("Payroll Export", "PayrollExport", "Admin")</li>
                                                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                                {
                                                    <li>@Html.ActionLink("User Leaves", "UserLeaves", "Admin")</li>
                                                    <li>@Html.ActionLink("Timesheet Approval", "Approval", "TimesheetApproval")</li>
                                                    if (User.IsInRole("Admin"))
                                                    {
                                                        <li class="divider"></li>
                                                        <li class="nav-header">AD Management</li>
                                                        <li class="nav-header-child">@Html.ActionLink("User", "User", "ADManagement")</li>
                                                        <li class="nav-header-child">@Html.ActionLink("Group", "Group", "ADManagement")</li>
                                                        <li class="nav-header-child">@Html.ActionLink("Role", "Role", "ADManagement")</li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Public Holiday", "Holidays", "Admin")</li>
                                                <li>@Html.ActionLink("Email Setting", "EmailSetting", "Admin")</li>
                                                <li>@Html.ActionLink("User Role Setting", "UserRoleSetting", "Admin")</li>
                                            </ul>
                                        </li>
                                    }
                                    <li>@Html.ActionLink("HR Application", "Index", "HRApplication")</li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>


            <div>
                @RenderBody()
            </div>
        </div>

        <hr />
        <div class="contain footer" align="center">
            <div class="row box1">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                                @if (User.IsInRole("Manager"))
                                {
                                    <li class="dropup">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">HR Management<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("User Leaves", "UserLeaves", "Admin")</li>
                                            <li>@Html.ActionLink("Leave Approval", "Approval", "LeaveApproval")</li>
                                            <li>@Html.ActionLink("Timesheet Approval", "Approval", "TimesheetApproval")</li>
                                            <li>@Html.ActionLink("CSV Export", "CSVExport", "Admin")</li>
                                            <li class="divider">
                                            <li class="nav-header">AD Management</li>
                                            <li class="nav-header-child">@Html.ActionLink("User", "User", "ADManagement")</li>
                                            <li class="nav-header-child">@Html.ActionLink("Group", "Group", "ADManagement")</li>
                                            <li class="nav-header-child">@Html.ActionLink("Role", "Role", "ADManagement")</li>
                                        </ul>
                                    </li>
                                }

                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="dropup">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Public Holiday", "Holidays", "Admin")</li>
                                            <li>@Html.ActionLink("Email Setting", "EmailSetting", "Admin")</li>
                                            <li>@Html.ActionLink("Manager Setting", "ManagerSetting", "Admin")</li>
                                        </ul>
                                    </li>
                                }
                                
                                <li>@Html.ActionLink("HR Application", "Index", "HRApplication")</li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 copyRight">
                    <p>Copyright &copy; @DateTime.Now.Year Nan Tien Institute. All rights reserved</p>
                </div>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>

<script>
    $(document).ready(function () {
        $("#login").load('@Url.Action("LoginLayout", "Home")');
        $(".nav-header").on('click', function (e) {
            e.preventDefault();
        });
    });
</script>