<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar">
        <div class="container">
            <img src="http://www.nantien.edu.au/sites/default/files/NTI-logo_2.png">
            <div class="navbar-header navbar-inverse">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="navbar-collapse collapse navbar-inverse ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home","Index","Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Leave Application", "Create", "LeaveApplication")</li>
                    <li>@Html.ActionLink("Time Sheet","Index","TimeSheet")</li>
                    <li>@Html.ActionLink("Admin","Index","Admin")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-style row">
                <div class="col-xs-12 col-md-4">
                    <p>Nan Tien Institute &copy; @DateTime.Now.Year</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>+61(2) 4258 0700</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p><a href="mailto:enquiry@nantien.edu.au">enquiry@nantien.edu.au</a></p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
