@model TimeSheet.Models.Manager

@{
    ViewBag.Title = "EditManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container" align="center">
        <h2>Edit Manager</h2>

        @using (Html.BeginForm("EditManagerConfirmed", "Admin",FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model=>model.id)
            <table class="table-fill">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>
                    <th>@Html.LabelFor(model => model.ManagerID)</th>
                    <td>
                        @Html.EditorFor(model => model.ManagerID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ManagerID, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.ManagerName)</th>
                    <td>
                        @Html.EditorFor(model => model.ManagerName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ManagerName, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th>@Html.LabelFor(model => model.IsAdmin)</th>
                    <td>
                        @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Save" class="btn btn-primary" />
        }

        <br />
        <div>
            @Html.ActionLink("Back to Manager Setting", "ManagerSetting")
        </div>
    </div>
</body>