@model TimeSheet.Models.EmailSetting
@{
    ViewBag.Title = "EmailSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailSetting</h2>

@using (Html.BeginForm("UpdateEmailSetting", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(m => m.id)
    <div class="form-group">
        @Html.LabelFor(m => m.FromEmail, new { @class= "control-label" })
        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FromEmail)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SMTPHost, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.SMTPHost, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SMTPHost)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SMTPPort, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.SMTPPort, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SMTPPort)
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Update" />
    </div>
}