@model TimeSheet.Models.EmailSetting
@{
    ViewBag.Title = "Email Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container emailSetting" align="center">
        <h2>Email Setting</h2>

        @using (Html.BeginForm("UpdateEmailSetting", "Admin", FormMethod.Post))
        {
            <table class="table-fill">
                @Html.HiddenFor(m => m.id)
                <tr>
                    <th>@Html.LabelFor(m => m.FromEmail)</th>
                    <td>
                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FromEmail)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Password)</th>
                    <td>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Subject)</th>
                    <td>
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Subject)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Message)</th>
                    <td>
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Message)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.SMTPHost)</th>
                    <td>
                        @Html.TextBoxFor(m => m.SMTPHost, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SMTPHost)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.SMTPPort)</th>
                    <td>
                        @Html.TextBoxFor(m => m.SMTPPort, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SMTPPort)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.EnableSsl)</th>
                    <td>
                        @Html.TextBoxFor(m => m.EnableSsl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EnableSsl)
                    </td>
                </tr>
            </table>
            <br/>
            <input type="submit" class="btn btn-primary" value="Update" />
        }
    </div>
</body>