@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Amin";
}

<br />
<h3 align="center">ADMINISTATOR SETTINGS</h3>
    
<div class="container">
    <div class="row AdminBox" style="text-align:center">
        <div class="col-md-2 square1" onclick="location.href='@Url.Action("Holidays", "Admin")'">
            <span>Public<br />Holiday</span>
        </div>
        <div class="col-md-2 square2" onclick="location.href='@Url.Action("UserLeaves", "Admin")'">
            <span>User<br />Leaves</span>
        </div>
        <div class="col-md-2 square3" onclick="location.href='@Url.Action("Approval", "LeaveApproval")'">
            <span>Leave<br />Approval</span>
        </div>
        <div class="col-md-2 square2" onclick="location.href='@Url.Action("EmailSetting", "Admin")'">
            <span>Email<br />Setting</span>
        </div>
        <div class="col-md-2  square1" onclick="location.href='@Url.Action("ManagerSetting", "Admin")'">
            <span>Manager<br />Setting</span>
        </div>
    </div>
</div>





