@model IEnumerable<TimeSheet.Models.Manager>

@{
    ViewBag.Title = "ManagerSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManagerSetting</h2>

<p>
    @Html.ActionLink("Create New", "CreateManager")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditManager", "Admin",new { id=item.id }) |
            @Html.ActionLink("Delete", "DeleteManager", "Admin",new { id=item.id })
        </td>
    </tr>
}

</table>
