@model TimeSheetContainer
<br />

<body>
    <div align="center" class="leaveDetail">
        <div id="CasualDetail" class="collapse in row">
            <table class="table table-responsive">
                <tr>
                    <th>Date</th>
                    <th>Start</th>
                    <th>Lunch</th>
                    <th>End</th>
                    <th>Work Hours</th>
                </tr>
                @for (int i = 0; i < Model.TimeRecords.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(m => m.TimeRecords[i].id)
                        @Html.HiddenFor(m => m.TimeRecords[i].UserID)
                        @Html.HiddenFor(m => m.TimeRecords[i].RecordDate)
                        @Html.HiddenFor(m => m.TimeRecords[i].IsHoliday)
                        @Html.HiddenFor(m => m.TimeRecords[i].Flexi)
                        <td>
                            @String.Format("{0:ddd, dd/MM/yyyy}", Model.TimeRecords[i].RecordDate)
                        </td>
                        <td>
                            @Html.EditorFor(m => m.TimeRecords[i].StartTime, new { htmlAttributes =
                               new {
                                   @id = "starttime" + i,
                                   @class = "starttime form-control",
                                   @type = "time",
                                   data_id = i
                               }
                            })
                            @Html.ValidationMessageFor(m => m.TimeRecords[i].WorkHours, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(m => m.TimeRecords[i].LunchBreak, new { htmlAttributes =
                                new {
                                    @id = "lunchtime" + i,
                                    @class = "lunchtime form-control",
                                    @type = "number",
                                    @min = 0,
                                    @max = 7.5,
                                    @step = 0.1,
                                    @data_id = i
                                }
                            })
                            @Html.ValidationMessageFor(m => m.TimeRecords[i].WorkHours, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.EditorFor(m => m.TimeRecords[i].EndTime, new { htmlAttributes = 
                               new {
                                   @id = "endtime" + i,
                                   @class = "endtime form-control",
                                   @type = "time",
                                   data_id = i
                               }
                            })
                            @Html.ValidationMessageFor(m => m.TimeRecords[i].WorkHours, "", new { @class = "text-danger" })
                        </td>
                        <td id="worktime@(i)" class="worktime">
                            @Html.DisplayFor(m => m.TimeRecords[i].WorkHours)
                            @Html.ValidationMessageFor(m => m.TimeRecords[i].WorkHours, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                }
            </table>
            
        </div>
    </div>
</body>




