@model TimeSheet.Models.LeaveApplicationViewModel
<br />

<body>
    <div align="center" class="leaveDetail">
        <div id="leaveDetail" class="collapse row">
            <table class="table table-responsive">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <tr>
                    <th>Date</th>
                    <th>Leave Type</th>
                    <th>Leave Hours</th>
                </tr>
                @for (int i = 0; i < Model.TimeRecords.Count; i++)
                {
                    <tr>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.TimeRecords[i].id)
                        @Html.HiddenFor(m => m.TimeRecords[i].UserID)
                        @Html.HiddenFor(m => m.TimeRecords[i].RecordDate)
                        @Html.HiddenFor(m => m.TimeRecords[i].StartTime)
                        @Html.HiddenFor(m => m.TimeRecords[i].EndTime)
                        @Html.HiddenFor(m => m.TimeRecords[i].LunchBreak)
                        @Html.HiddenFor(m => m.TimeRecords[i].IsHoliday)
                        @Html.HiddenFor(m => m.TimeRecords[i].Flexi)
                        <td>
                            @String.Format("{0:ddd, dd/MM/yyyy}", Model.TimeRecords[i].RecordDate)
                        </td>
                        <td>
                            @Html.EnumDropDownListFor(m => m.TimeRecords[i].LeaveType, new { @class = "form-control leavetype"})
                        </td>
                        <td class="leaveTimeColumn">
                            @Html.EditorFor(m => m.TimeRecords[i].LeaveTime, new { htmlAttributes = new { @class = "leavetime form-control", @type = "number", @step = "0.5", @min = 0, @max = 7.5 } })
                            @Html.ValidationMessageFor(m => m.TimeRecords[i].LeaveTime, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>






