@{
    ViewBag.Title = "HR Application";
}

<head>
    @Styles.Render("~/Content/css")
</head>


<body>
    <div class="container">
        <div id="tabs">

            <ul class="nav nav-tabs">
                @if (User.IsInRole("Admin") || User.IsInRole("FullTimeWorker"))
                {
                    <li class="active">
                        <a href="#leave" data-toggle="tab">Leave Application</a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("CasualWorker"))
                {
                    <li class="@(!User.IsInRole("Admin")? "active":"")">
                        <a href="#casual" data-toggle="tab">Casual Submission</a>
                    </li>
                }
            </ul>

            <div class="tab-content clearfix">
                @if (User.IsInRole("Admin") || User.IsInRole("FullTimeWorker") || User.IsInRole("PartTimeWorker"))
                {                
                    <div id="leave" class="hrForm-bk tab-pane active" align="center">
                        @Html.Action("Leave", "HRApplication")
                    </div>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("CasualWorker"))
                {
                    <div id="casual" class="hrForm-bk tab-pane @(!User.IsInRole("Admin")? " active":"")" align="center">
                        @Html.Action("Casual", "HRApplication")
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}