@model TimeSheet.Models.TimeSheetContainer

@{
    ViewBag.Title = "TimeRecords";
}

<h2>TimeRecords</h2>


@using (Html.BeginForm("SaveTimeSheet", "TimeSheet",FormMethod.Post))
{
    //@Html.AntiForgeryToken()

    <table>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Lunch Break</th>
            <th>End Time</th>
            <th>Leave Time</th>
            <th>Flexi 1.5</th>
            <th>Leave Type</th>
        </tr>

        @for (int i = 0; i < Model.TimeRecords.Count; i++)
        {
            <tr>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <th class="form-group">
                    @Model.TimeRecords[i].StartTime.Date.ToString()
                </th>

                <th class="form-group">
                    @Html.EditorFor(model => model.TimeRecords[i].StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeRecords[i].StartTime, "", new { @class = "text-danger" })
                </th>

                <th class="form-group">
                    @Html.EditorFor(model => model.TimeRecords[i].LeaveTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeRecords[i].LunchBreak, "", new { @class = "text-danger" })
                </th>

                <th class="form-group">
                    @Html.EditorFor(model => model.TimeRecords[i].EndTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeRecords[i].EndTime, "", new { @class = "text-danger" })
                </th>

                <th class="form-group">
                    @Html.EditorFor(model => model.TimeRecords[i].LeaveTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeRecords[i].LeaveTime, "", new { @class = "text-danger" })
                </th>

                <th class="form-group">
                    @Html.EditorFor(model => model.TimeRecords[i].Flexi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeRecords[i].Flexi, "", new { @class = "text-danger" })
                </th>

                <th class="form-group">
                    @Html.DropDownListFor(model => model.TimeRecords[i].leaveType, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "Sick Leave"  },
                       new { value = 1 , text = "Flexi Leave" },
                       new { value = 2 , text = "Annual Leave"}
                    },
                  "value",
                  "text",
                   2))
                    @Html.ValidationMessageFor(model => model.TimeRecords[i].leaveType, "", new { @class = "text-danger" })
                </th>
            </tr>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
