@model TimeSheet.Models.TimeSheetContainer

<head>
    @{ViewBag.Title = "Time Sheet";}
</head>

<body>
    <div class="container" align="center">
        <h2>Fortnightly Pay Period</h2>
        <hr />
        @using (Html.BeginForm("SendEmail", "TimeSheet", FormMethod.Post))
        {
        <div class="row">
            <div class="col-md-2 col-lg-3 col-xs-6">
                <h4>Select Year</h4>
                @Html.DropDownList("year", Model.YearList, new { @class = "form-control" })
            </div>
            <div id="periodDiv" class="col-md-2 col-lg-3 col-xs-6">
                <h4>Select Pay period</h4>
                @*@Html.DropDownList("period", Model.PeriodList, new { @class = "form-control" })*@
                @{Html.RenderAction("SelectDefaultYear");}
            </div>
            <div class="col-md-2 col-lg-3 col-xs-6">
                <h4>Select Manager</h4>
                @Html.DropDownList("manager", (IEnumerable<SelectListItem>)ViewBag.Manager, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        if (ViewBag.Message != null)
        {
        <script type="text/javascript">
                alert('@ViewBag.Message');
        </script>
        }



        <div class="form-group" style="padding-top:10px">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        }



        <div id="timesheetDiv">
            @Html.Partial(@"~/Views/TimeSheet/_CreateTimeSheet.cshtml", Model)
        </div>
    </div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#year").on("change", function () {
            var val = $('#year').val();
            $.ajax({
                url: "/timesheet/selectyear",
                type: "get",
                data: { year: val }
            })
                .done(function (partialviewresult) {
                    $("#perioddiv").html(partialviewresult);
                });
        });

        $("#periodDiv").on("change", function () {
            var year = $('#year').val();
            var period = $('#period').val();
            var yp = year + "." + period;
            $("#timesheetDiv").load('@Url.Action("GetTimeRecords","TimeSheet",null,Request.Url.Scheme)?text=' + yp);
        });
    });
</script>