@model TimeSheet.Models.TimeSheetContainer

<head>
    @{ViewBag.Title = "Time Sheet";}
</head>

<body>
    <h2>Fortnightly Pay Period</h2>
    <hr />

    
<p>
    @using (Html.BeginForm("SendEmail", "TimeSheet", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-2 col-lg-3 col-xs-6">
                <h4>Select Year</h4>
                @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Year, "--Year--", new { @class = "form-control" })
    </div>
            <div id="periodDiv" class="col-md-2 col-lg-3 col-xs-6">
                <h4>Select Pay period</h4>
        @{Html.RenderAction("SelectDefaultYear");}
    </div>
            <div class="col-md-2 col-lg-3 col-xs-6">
                <h4>Select Manager</h4>
                @Html.DropDownList("manager", (IEnumerable<SelectListItem>)ViewBag.Manager, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        if (ViewBag.Error != null)
        {
            <div class="alert alert-warning">
                <strong>Warning!</strong>
                @ViewBag.Error
            </div>
        }

        <div class="form-group">
            <input type="submit" value="Sumit" class="btn btn-default" />
        </div>
    }



    <div id="timesheetDiv">
        @Html.Partial(@"~/Views/TimeSheet/_CreateTimeSheet.cshtml", Model)
    </div>
</body>



</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#year").on("change", function () {
            var val = $('#year').val();
            $.ajax({
                url: "/timesheet/selectyear",
                type: "get",
                data: { year: val }
            })
                .done(function (partialviewresult) {
                    $("#perioddiv").html(partialviewresult);
                });
        });

        $("#periodDiv").on("change", function () {
            var year = $('#year').val();
            var period = $('#period').val();
            var yp = year + "." + period;
            $("#timesheetDiv").load('@Url.Action("GetTimeRecords","TimeSheet",null,Request.Url.Scheme)?text=' + yp);
        });
    });
</script>