@model TimeSheetContainer

<head>
    @{ViewBag.Title = "Time Sheet";}
    @Styles.Render("~/Content/css")
</head>

<body>
    <h2 align="center">Fortnightly Pay Period</h2>
        <hr />
        @using (Html.BeginForm("SendEmail", "TimeSheet", FormMethod.Post))
        {
        <div class="container" align="center">
            <table class="table-fill table-responsive">
                <tr>
                    <th>Select Year</th>
                    <th>Select Pay period</th>
                    <th>Select Manager</th>
                </tr>
                <tr>
                    <td>@Html.DropDownList("year", Model.YearList, new { @class = "form-control" })</td>
                    <td id="periodDiv">@{Html.RenderAction("SelectYear");}</td>
                    <td>@Html.DropDownList("manager", (IEnumerable<SelectListItem>)ViewBag.Manager, htmlAttributes: new { @class = "form-control" })</td>
                </tr>
            </table>

            <div class="container leaveDetail" style="padding-top:20px">
                <input type="submit" value="Submit" class="btn btn-primary"/>
                <button type="button" style="margin-left:1.5em" class="btn btn-default" data-toggle="collapse" data-target="#accordion">Click for detail</button>
            </div>
        </div>
        @*if (ViewBag.Message != "")
        {
            <script type="text/javascript">
                alert('@ViewBag.Message');
            </script>
        }*@
        }

        <div id="timesheetDiv">
            @Html.Partial(@"~/Views/TimeSheet/_CreateTimeSheet.cshtml", Model)
        </div>
        
    @if (ViewBag.Message != "")
    {
        <div id="myModal" class="modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" data-dismiss="modal">&times;</span>
                        <h4>Reminder</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            </div>
        </div>
    }
   
        <input type="hidden" value="@ViewBag.Message" id="viewbagMessage" />

</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#year").on("change", function () {
            var val = $('#year').val();
            $.ajax({
                url: "/timesheet/selectyear",
                type: "get",
                data: { year: val }
            })
                .done(function (partialviewresult) {
                    $("#periodDiv").html(partialviewresult);
                });
        });

        $("#periodDiv").on("change", function () {
            var year = $('#year').val();
            var period = $('#period').val();
            var yp = year + "." + period;
            $("#timesheetDiv").load('@Url.Action("GetTimeRecords","TimeSheet",null,Request.Url.Scheme)?text=' + yp);
        });

        // Get the modal
        var modal = document.getElementById('myModal');

        // Get ViewBag.Message value
        var vm = document.getElementById("viewbagMessage").value;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        if (vm != "no message") {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>